body {
  background-color: #282c34;
}
.App-header {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.content {
  
  min-height: 400px;
  color: white;
  margin: 50px 50px;
}
